@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean');

/* base */
*{ margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; color: #333; }
li{ list-style: none; }
a{ text-decoration: none; }

/* panel */
.panel{ width: 100%; height: 100%; background-color: #fff; position: fixed; top: 0; left: 0; z-index: 5000; padding-top: 9px; overflow-y: scroll; }
.panel h1{ margin-bottom: 25px; }
.panel h1 a{ display: block; width: 55px; margin: 0 auto; }
.panel h1 a img{ width: 55px; }
.panel span a{ display: block; width: 25px; height: 60px; background-image: url(../images/common/panel_close_icon.png); background-size: contain; background-repeat: no-repeat; background-position: center; position: absolute; top: 0; right: 15px; }
.panel > .gnb{ width: 100%; overflow: hidden; margin-bottom: 75px; }
.panel > .gnb > li{ width: 100%; overflow: hidden; }
.panel > .gnb > li > a{ display: block; font-size: 19px; color: #333; font-weight: 500; border-bottom: 2px solid #333; box-sizing: border-box; width: calc(100% + -30px); padding: 19px 0 10px; margin: 0 auto; background-image: url(../images/common/gnb_openbtn.png); background-position: calc(100% + -10px) 27px; background-repeat: no-repeat; background-size: 15px; }
.panel > .gnb > li > a.on{ background-image: url(../images/common/gnb_closebtn.png); border-bottom: none; position: relative; top: -3px; }
.panel > .gnb > li > a.on:before{ content: ''; width: 30px; height: 3px; background-color: #cc3399; display: block; opacity: 1; }
.panel > .gnb > li:last-child > a{ border-bottom: none; }
.panel .subnav{ width: 100%; overflow: hidden; }
.panel .subnav li{ padding: 19px 15px 10px; background-color: #ededed; border-bottom: 2px solid #999; box-sizing: border-box; }
.panel .subnav li a{ font-size: 15px; font-weight: 500; }
.panel .icon{ display: flex;  padding: 0 60px; box-sizing: border-box;  margin: 0 auto 40px; }
.panel .icon li{ width: 100%; text-align: center; }
.panel .icon li a img{ width: 30px; }


/* header */
header{ width: 100%; height: 60px; background-color: #fff; position: relative; padding-top: 9px; box-sizing: border-box; }
header h1 a{ display: block; width: 55px; margin: 0 auto; }
header h1 a img{ width: 55px; }
header span a{ display: block; width: 25px; height: 60px; background-image: url(../images/common/header_menu_icon.png); background-size: contain; background-repeat: no-repeat; background-position: center; position: absolute; top: 0; right: 15px; }

/* footer */
footer{ width: 100%; overflow: hidden; background-color: #f9f9f9; padding-top: 20px; box-sizing: border-box; }
footer .ftop{ width: 100%; margin-bottom: 10px; display: flex; justify-content: center; }
footer .ftop li{ margin-right: 20px; }
footer .ftop li:last-child{ margin-right: 0; }
footer .ftop li a{ color: #666; font-size: 12px; font-weight: 500; }
footer .ftop li a:after{ content: '|'; position: relative; left: 10px; top: -1px; }
footer .ftop li:last-child a:after{ content: ''; }
footer .faddress{ width: 100%; text-align: center; }
footer .faddress p{ font-size: 12px; color: #666; font-weight: 500; margin-bottom: 10px; }
footer .faddress p span{ font-size: 12px; color: #999; font-weight: 500; }
footer h1{ width: 100%; text-align: center; }
footer h1 img{ width: 15%; }
